.controls-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.controls ol {
  padding-left: 10px;
}

.controls li {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.note {
  font-size: 20px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .controls {
    display: none;
  }

  .note {
    margin-top: 12px;
    margin-bottom: 10px;
  }

}
