.scoreboard {
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 480px) {
  .scoreboard {
    padding: 0;
    text-align: left;
  }
}

.scoreboard-title {
  font-size: 42px;
  margin-bottom: 30px;
}

.scoreboard-list {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style-position: inside;
}

.scoreboard-item {
  font-size: 28px;
  margin-bottom: 20px;
}

.scoreboard-item:first-child {
  color: #01D28E;
}

.scoreboard-item:last-child {
  color: #f97b85;
}

.scoreboard-item:only-child {
  color: #fff;
}
