body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.board {
  outline: 0;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/board-background.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.board-cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 400px) {
  .board-cell {
    padding: 18px;
  }
}

@media (min-width: 768px) {
  .board-cell {
    padding: 20px;
  }
}

.board-cell.sprite-1 {
  background-image: url('/images/sweet-1.png');
}

.board-cell.sprite-2 {
  background-image: url('/images/sweet-2.png');
}

.board-cell.sprite-3 {
  background-image: url('/images/sweet-3.png');
}

.board-cell.has-user {
  /*background-color: rgba(255, 255, 255, 0.26);*/
  background-image: url('/images/user.png');
  animation: bg-pulse 0.6s linear infinite alternate;
}

.moves {
  color: #fff;
}

.gamepad {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.gamepad__control {
  display: block;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  padding: 0;
  outline: none;
}

.gamepad__control--up, .gamepad__control--down {
  left: 50%;
  transform: translateX(-50%);
}

.gamepad__control--left, .gamepad__control--right {
  top: 50px;

}

.gamepad__control--left {
  left: 0;
}

.gamepad__control--right {
  right: 0;
}

.gamepad__control--down {
  top: 100px;
}

@keyframes bg-pulse {
  from {
    background-color: rgba(255, 255, 255, 0.26);
  }

  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
