body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #000;
  color: #fff;
}

.board {
  outline: 0;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/board-background.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.board-cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.board-cell.sprite-1 {
  background-image: url('/images/sweet-1.png');
}

.board-cell.sprite-2 {
  background-image: url('/images/sweet-2.png');
}

.board-cell.sprite-3 {
  background-image: url('/images/sweet-3.png');
}

.board-cell.has-user {
  /*background-color: rgba(255, 255, 255, 0.26);*/
  background-image: url('/images/user.png');
  animation: bg-pulse 0.6s linear infinite alternate;
}

@keyframes bg-pulse {
  from {
    background-color: rgba(255, 255, 255, 0.26);
  }

  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.moves-curent {
  text-align: center;
  font-size: 20px;
}

.gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moves {
  text-align: center;
  font-size: 64px;
  margin: 0;
  margin-bottom: 40px;
}

.username-form {
  display: flex;
}

.username-input {
  color: #fff;
  font-size: 24px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid;
  background-color: transparent;
  margin-right: 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.username-input:focus {
  outline: none;
}

.username-submit {
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 2px 20px;
}

.username-saved {
  font-size: 24px;
}

.instructions-final {
  margin-top: 20px;
  font-size: 20px;
  color: #cdcdcd;
}
