body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.board {
  outline: 0;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/images/board-background.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.board-cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.board-cell.sprite-1 {
  background-image: url("/images/sweet-1.png");
}

.board-cell.sprite-2 {
  background-image: url("/images/sweet-2.png");
}

.board-cell.sprite-3 {
  background-image: url("/images/sweet-3.png");
}

.board-cell.has-user {
  /*background-color: rgba(255, 255, 255, 0.26);*/
  background-image: url("/images/user.png");
  animation: bg-pulse 0.6s linear infinite alternate;
}

.moves {
  color: #fff;
}

@keyframes bg-pulse {
  from {
    background-color: rgba(255, 255, 255, 0.26);
  }

  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/* 
     ** Contributed by Soham Mondal <contact@sohammondal.com> **
*/

.userNameInputForm input {
  width: 150px;
}

.userNameInputForm textarea:focus,
input:focus {
  outline: none;
}
